{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-nested-ternary": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off",
    "import/prefer-default-export": "off",
    "react/forbid-prop-types": "off"
  }
}
