<title>electron-react-boilerplate</title>

<meta name='description' content=''>

<!-- Meta -->
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
<meta name='application-name' content='<% appName %>'>
<meta name="mobile-web-app-capable" content="yes">
